body{
  width:100%;
  height:100%;
  background-color: #0092ff;
}

#treat{
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

#dc1{
  margin: 0 auto;
}

#dc2{
  margin: 0 auto;
}

#dc3{
  margin: 0 auto;
}

#button_wrap{
    border: 1px solid;
    margin: 0 auto;
    width: 345px;
    height: auto;
}

fieldset{
  border: 1px solid;
  margin:0 auto;
  width:600px;
  height:500px;
}

input{
  width:110px;
  height: 35px;
  background-color: white;
  font-family: sans-serif;
  font-size: 15px;
  border-radius: 5px;
}
