body{
  width:100%;
  height:100%;
  background: linear-gradient(45deg, #ffccff, #0092ff);
  -webkit-background-size: 200%;
  -o-background-size: 200%;
  -moz-background-size: 200%;
  background-repeat: no-repeat;
  background-position: center;
}

#introduce{
  color: white;
  margin: 0 auto;
  width: 800px;
  height: 100px;
  margin-top: 150px;
  text-align: center;
  margin-bottom: 30px;
}

#Highlight{
  color:#fcc500;
}

#hr{
  border-radius: 50px;
  margin: 0 auto;
  width:96%;
  border: 1px solid white;
}

#hospital_button_div{
  width: 800px;
  text-align: center;
  margin: 0 auto;
}
button{
  width: 120px;
  height: 60px;
  font-size: 24px;
  background-color: transparent;
  color:#f0f0f5;
  border: 2px solid #f0f0f5;
  border-radius: 10px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#check{
  width: 700px;
  height: 400px;
  border: 2px solid #f0f0f5;
  margin: 0 auto;
  border-radius: 15px;
}

input{
  width: 20px;
  height: 20px;
}
