body{
  width:100%;
  height:100%;
  background: linear-gradient(to top right, #0099ff 0%, #cc66ff 94%);
  -webkit-background-size: 200%;
  -o-background-size: 200%;
  -moz-background-size: 200%;
  background-repeat: no-repeat;
  background-position: center;
}

#header{
  text-align: center;
  width:100%;
  height:50px;
  margin-top: 150px;
  margin-bottom: 100px;
}

strong{
  color:#fcc500;
}
div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: left;
  padding-left: 5px;
  font-size: 25px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color:#fcc500;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color:#fcc500;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

#submit_button{
  float:right;
  background-color: transparent;
  width:70px;
  height:30px;
  color : #fff;
  border: 2px solid #f0f0f5;
  border-radius: 5px;
}

#submit_div{
  width: 665px;
  height: 60px;
  margin-top:5px;
}

#write_table{
  border: 2px solid #f0f0f5;
  border-radius: 5px;
  width: 707px;
  height: 220px;
  margin: 0 auto;
  padding: 20px;
}

#table_down{
  width: 665px;
  float:left;
}

#write_text{
  border: 2px solid #f0f0f5;
  border-radius: 4px;
  padding: 10px;
}

div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: left;
  padding: 5px;
  font-size: 20px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
