body {
  width: 100%;
	height:800px;
	font-family: 'Open Sans', sans-serif;
  background-color: #EFEFEF;
}

#header{
  width:100%;
  height:50px;
  background-color: #0092ff;
}

#login{
  width: 500px;
  height: 550px;
  margin: 0 auto;
}

#dream{
  margin: 0 auto;
  width: 300px;
  height: 100px;
  background-position: center;
  background-image: url('../img/logo1.jpg');
  background-repeat: no-repeat;
  background-size:contain;
    margin-top: 80px;
}

#form{
  margin-top: 30px;
}
#id{
  width: 500px;
  height: 50px;
  padding-left: 10px;
  font-size: 17px;
}

#password{
  margin-top: 10px;
  width: 500px;
  height: 50px;
  padding-left: 10px;
  font-size: 17px;
}

#button{
  margin-top: 15px;
  width: 500px;
  height: 60px;
  border-radius: 0px;
  font-size: 20px;
  font-weight: normal;
}

p{
  margin-top: 10px;
}

#footer{
  margin-top: 10px;
  width:100%;
  height: 70px;
}

#forgot{
  color: black;
}

input:focus { box-shadow: inset 0 -5px 45px rgba(255,255,255,0.2), 0 1px 1px rgba(255,255,255,0.2); color:black}
