
body{
  width:100%;
  height:100%;
  /*background: linear-gradient(to top right, #0099ff 0%, #cc66ff 94%);
  -webkit-background-size: 200%;
  -o-background-size: 200%;
  -moz-background-size: 200%;
  background-repeat: no-repeat;
  background-position: center;*/
  background-color: #EFEFEF;
}

#header{
  width:100%;
  height:50px;
  background-color: #0092ff;
}

/*#form_left{
  width:15%;
  height:850px;
  float: left;
}

#form_right{
  width:15%;
  height:850px;
  float: left;
}*/

#dream{
  margin: 0 auto;
  width: 320px;
  height: 100px;
  background-position: center;
  background-image: url('../img/logo1.jpg');
  background-repeat: no-repeat;
  background-size:contain;
}

#form_signup{
  width: 100%;
  margin: 0 auto;
  height: 745px;
}

#box{
  margin-top: 60px;
}
#form_sign{
  margin-top: 30px;
}

strong{
  color: #f0f0f5;
}
select{
  color:#a3a3c2;
}
fieldset{
  text-align: left;
  margin: 0 auto;
  width:400px;
  height: auto;
}


#id, #password, #passwordCheck, #name, #email, #phoneNumber, #attached{
  width:400px;
  height:55px;
  border-radius: 0px;
  font-size: 18px;
    border: 1px solid #D3D3D3;
  /*margin-bottom: 1px;*/
}

select{
  height:55px;
  width:400px;
  font-size: 18px;
  padding-left: 5px;
  /*margin-bottom: 1px;*/
  border: 1px solid #D3D3D3;
}
#button{
  margin-top: 15px;
  width: 400px;
  height: 60px;
  border-radius: 0px;
  font-size: 20px;
  font-weight: normal;
  background-color: #0092ff;
  color: white;
}

#footer{
  color: black;
  margin-top: 10px;
  width:100%;
  height: 70px;
}
