
body{
  width:100%;
  height:100%;
  background: linear-gradient(45deg, #ffccff, #0092ff);
  background: -webkit-linear-gradient(45deg, #ffccff, #0092ff);
  background-repeat: no-repeat;
}

#header{
  width:100%;
  height:50px;
}

/*#form_left{
  width:15%;
  height:850px;
  float: left;
}

#form_right{
  width:15%;
  height:850px;
  float: left;
}*/

#signup{
  margin-top: 80px;
  width: 100%;
  height: 100px;
  text-align: center;
}

#form_signup{
  width: 100%;
  margin: 0 auto;
  height: 750px;
}

#form_sign{
  margin-top: 30px;
}

strong{
  color: #f0f0f5;
}
select{
  color:#a3a3c2;
}
fieldset{
  text-align: left;
  margin: 0 auto;
  width:300px;
  height: auto;
}



.form-group{position: relative;}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"],
.form-group input[type="tel"]{
  width:300px;
  height:40px;
  line-height: normal;
  padding: .8em, .5em;
}

select{
  height:30px;
  width:300px;
}
#button{
  margin-top: 5px;
  width:300px;
  height:50px;
  background-color: #0092ff;
  color:white;
}

footer{
  border-top: 1px solid #D5D8DC;
  padding-top: 40px;
  width: 100%;
  float:left;
}
