body {
  width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
  background-color: #EFEFEF;
  margin-bottom: 50px;
}

#header{
  width:100%;
  height:50px;
  background-color: #0092ff;
}

#section_div{
  width: 600px;
  height: 750px;
  margin: 0 auto;
  padding-top: 30px;
}


#introduce_div{
  width: 600px;
  color: #A9A9A9;
  background-color: white;
  border: 1px solid #C0C0C0;
  padding-left: 25px;
}

p{
  font-size: 15px;
}
h2{
  color:#696969;
  font-weight: bold;
}

label{
  font-size: 14px;
  color:#696969;
}
#content_div{
  width: 600px;
  height: 750px;
  color: #A9A9A9;
  margin-top: 15px;
}

#register_div{
  padding: 50px;
  width: 600px;
  height:750px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #C0C0C0;
}

#select_hospital, #select_doctor, #select_address{
  width: 500px;
  height: 35px;
  font-size: 15px;
  color: #A9A9A9;
  margin-bottom: 10px;
  border: 1px solid #C0C0C0;
}

#description{
  height: 200px;
  margin-bottom: 10px;
}

/*파일업로드 소스*/
.where {
  display: block;
  margin: 25px 15px;
  font-size: 11px;
  color: #000;
  text-decoration: none;
  font-family: verdana;
  font-style: italic;
}

.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;margin-bottom: 5px;
}

.filebox label {
    display: inline-block;
    padding: .5em .75em;
    color: #999;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}

/* named upload */
.filebox .upload-name {
    display: inline-block;
    padding: .5em .75em;
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: transparent;
  border: 2px solid #f0f0f5;
  border-radius: .25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #a3a3c2;
  width:394px;
  height:33px;
  margin-bottom: 20px;
}

.filebox.bs3-primary label {
  color: #fff;
  border: 2px solid #f0f0f5;
  border-radius: 10px;
  background-color: #0092ff;
  height: 35px;
  width:100px;
  text-align: center;
  margin-bottom: 20px;
}

#select_date{
  width: 235px;
  height: 35px;
  font-size: 15px;
  color: #A9A9A9;
  margin-bottom: 10px;
  border: 1px solid #C0C0C0;
  padding-left: 10px;
}

#select_time{
  width: 259px;
  height: 35px;
  font-size: 15px;
  color: #A9A9A9;
  border: 1px solid #C0C0C0;
}
#button{
  margin-top: 20px;
  height: 50px;
  font-size: 15px;
  color: white;
  background-color: #0092ff;
  border: 1px solid #0092ff;
  width: 500px;

}
