head{
  width:100%;
  height:200px;
  background-color:#0092ff;
}

body{
  width:100%;
  height:100%;
  background-color:#0092ff;
  /*background: linear-gradient(to right, #3399ff 0%, #9966ff 100%);
  -webkit-background-size: 200%;
  -o-background-size: 200%;
  -moz-background-size: 200%;
  background-position: center;*/
}

.section-content{
  text-align: center;
  margin-bottom: 50px;
}

.content-header{
  font-family: 'sans-serif', cursive;
  color:#fcc500;
  font-size: 45px;
}

#contact{

  padding-top: 130px;
  width: 100%;
  color : #fff;
}

footer{
  color:#fff;
  padding-top: 60px;
  width: 100%;
  float:left;
}

#memo{
  text-align: center;
  width: 870px;
  height: 650px;
  /*border: 1px solid gray;*/
  margin: 0 auto;
  background: url('../img/table.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

table{
  color: black;
}
