body{
  background: linear-gradient(45deg, #ffccff, #0092ff);
  background: -webkit-linear-gradient(45deg, #ffccff, #0092ff);
}
/*Contact sectiom*/
.content-header{
  font-family: 'sans-serif', cursive;
  color:#fcc500;
  font-size: 45px;
}

.section-content{
  text-align: center;
}

.container{
  border: 2px solid #f0f0f5;
  border-radius: 10px;
  padding: 25px;
}
#contact{

    font-family: 'Teko', sans-serif;
  padding-top: 150px;
  width: 100%;
  width: 100vw;
  height: 100%;
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, #ffccff, #0092ff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #ffccff, #0092ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;
}
.contact-section{
  padding-top: 40px;
}
.contact-section .col-md-6{
  /*width: 50%;*/
}

.form-line{
  /*border-right: 1px solid #B29999;*/
}

.form-group{
  margin-top: 10px;
  margin-bottom: 30px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.1em;
  color: #a3a3c2;
}
textarea.form-control {
    height: 206px;
   /* margin-top: px;*/
}

#select_doctor{
  width:100%;
  height:33px;
  border: 2px solid #f0f0f5;
  border-radius: 4px;
}

.submit{
  margin-top: 10px;
  font-size: 1.1em;
  float: right;
  width: 250px;
  height:45px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #f0f0f5;
  border-radius: 20px;
}

/*파일업로드 소스*/
.where {
  display: block;
  margin: 25px 15px;
  font-size: 11px;
  color: #000;
  text-decoration: none;
  font-family: verdana;
  font-style: italic;
}

.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;margin-bottom: 5px;
}

.filebox label {
    display: inline-block;
    padding: .5em .75em;
    color: #999;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}

/* named upload */
.filebox .upload-name {
    display: inline-block;
    padding: .5em .75em;
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #f5f5f5;
  border: 2px solid #f0f0f5;
  border-radius: .25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #a3a3c2;
  width:80%;
  height:33px;
  margin-bottom: 20px;
}

.filebox.bs3-primary label {
  color: #fff;
  border: 2px solid #f0f0f5;
  border-radius: 10px;
  background-color: transparent;
  height: 35px;
  width:19%;
  text-align: center;
  margin-bottom: 20px;
}
