body{
  background: linear-gradient(45deg, #ffccff, #0092ff);
  background: -webkit-linear-gradient(45deg, #ffccff, #0092ff);
}

.section-content{
  text-align: center;

}

.content-header{
  font-family: 'sans-serif', cursive;
  color:#fcc500;
  font-size: 45px;
}

#contact{

    font-family: 'Teko', sans-serif;
  padding-top: 200px;
  width: 100%;
  width: 100vw;
  height: 100%;
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, #ffccff, #0092ff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #ffccff, #0092ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;
}

.container{
  padding-top: 50px;
}

#treat_chart{
  width: 250px;
  height: 250px;
  border: 3px solid #f0f0f5;
  border-radius: 15px;
  float:left;
  margin-right: 60px;
  margin-left: 130px;
}

#treat_counsel{
  width: 250px;
  height: 250px;
  border: 3px solid #f0f0f5;
  margin-right: 60px;
  border-radius: 15px;
  float:left;
}

#treat_remote{
  width: 250px;
  height: 250px;
  border: 3px solid #f0f0f5;
    border-radius: 15px;
    float:left;
}
